*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center ;
    background-color: rgb(182, 182, 182);
    width: 100%;
    height: 7em;
    align-items: center;
    opacity: 78%;
    box-shadow: 3px 3px 6px black;
}

h1{
   padding-top: 0.5em;
   color: #00532f;
   font-size: 35px;
   padding-bottom: 0.5em;
   font-family: Arial, Helvetica, sans-serif;
   

}

body{
    background-color: rgb(83, 98, 99);
    text-align: center;
    width: auto;
    background-image: url(images/OIG2..jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
}

.corpo{
margin: 5em 5em;
padding:3em 5em;
width: 300px;
height: 450px;
background-color: rgb(182, 182, 182);
position: relative;
left: 34vw;   
padding-right: 15em;
border-radius: 20px;
opacity: 92%;

margin-bottom: 5em;
box-shadow: 3px 3px 6px black;

}

h3{
    margin: 0.5em 2.2em;
    color: #fff;
    
}

.dentro-corpo{
    display: block;
    justify-content: center;
   margin: 2px 2px;
    
  
}


.footer{
   
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    padding: 2em 1em;
    text-align: center;
    

}

.footer, h3{
    color: red;
}

.resultado{
    margin-top: 2em;
    margin-bottom: 2em;
    color: #000000;
    font-size: 30px;
    font-weight: bolder;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    margin: 1em 0 ;
   opacity: 75%;
   height: 100px;
   width: 100%;
   box-shadow: 3px 3px 3px black;
   padding-top: 1em;
   margin-bottom: 3em;
  
    
}

h4{
    color: #000000;
    padding-left: 3.5em ;
    padding-top: 2em;
    
   
}
input{
    margin-top:1em;
}

button{
    background-color: green;
    margin: 3.2em ;
    color: #fff;
    box-shadow: 2px 2px 3px black;
    width: 70px;
    height: 25px;
    border-radius: 20px;
    border: none;

}


@media screen and (min-width:240px) {
    .corpo{
        margin: 5em -6em;

    }


}
@media screen and (min-width:180px) {
    .corpo{
        margin: 5em -6em;

    }


}
@media  (min-width:100px) {
    .corpo{
        margin: 5em -6em;

    }
}   
@media  (min-width:200px) {
    .corpo{
        margin: 5em -6em;

    }


}

@media (min-width:750px){
    .corpo{
        margin: 10em 5em;
       

    }


}
@media (min-width:500px){
    .corpo{
        margin: 5em -3em;

    }


}
@media (min-width:1024px){
    .corpo{
        margin: 5em -0.5em;

    }

  
  


}
@media (min-width:1280px){
    .corpo{
        margin: 3em 4em;

    }

  
  


}

